/*
font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
*/

body {
  margin: 0;
  font-family: 'Roboto', serif;
  text-align: center;
}


h2, h3, h4, h5, h6 {
  font-family: 'Roboto', serif;
}

h1 {
  font-family: "DM Serif Display", serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.62rem;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.62rem;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.62rem;
}


h4 {
  text-align: left;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.timeline-header {
  /* border-top: 2px dashed #0288d1; */
  /* border-bottom: 2px dashed #0288d1; */
  border: none;
}

#skillsdiv ul > li .skill-title {
  display: inline-block;
  width: 60%;
  text-align: left;
}

#skillsdiv ul > li .skill-score {
  float: right;
}


#skillskey h5 {
  text-align: center;
}

#skillskey {
  text-align: left;
}

#skillskey ul > li .skill-key {
  float: right;
}

.photo {
  margin: 0;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.roundphoto {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  border: 5px solid #AAAAAA;
}

/*
#title {
  padding: 5% 0 5% 0;
}
*/

.title {
  text-align: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
}

.sub-subtitle {
  font-family: 'Roboto', sans-serif;
}

#navigation {
  /* background: rgba(1,114,194,0.75); */
  background: #043c8c;  /* rgba(1,29,69,1.00); */
}


.nav-item a {
  color: #1f344a;
}

.nav-item a:visited {
  color: #1f344a;
}

.navbreak {
  margin: 0;
  padding: 0;
}

/* .white-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  background: white;
}
*/

.white-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  /*  background: rgba(237,243,251, 1); */
  background: ghostwhite;
}


.lightblue-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  /* background: rgba(114,185,242, 0.75);
  background: rgba(202,223,254,1.00);
  background: rgba(218,233,254,1.00); */
  background: rgba(171,204,253, 1);

}

.lightlightblue-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  /* background: rgba(114,185,242, 0.75);
  background: rgba(202,223,254,1.00);*/
  /* background: rgba(227,238,254,0.75); */
  background: rgba(179,209,253, 0.75);
}

.blue-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  /* background: rgba(1,114,194,0.75); */
  background: rgba(171,204,253, 1);
}

.darkblue-section {
  margin: 0;
  padding: 0 2rem 0 2rem;
  background: rgba(1,29,69,1.00);
}


.center {
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
/* color: #1f344a; */
}

.copyright p {
  margin: 0;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  text-align: left;
  /* color: #1f344a; */
}

.footer-link {
  color: white;
}

.footer-link:visited {
  color: white;
}

.linkedin {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  margin-right: 1em;
}

.bottom-container {
  margin-top: 0;
  text-align: left;
  padding: 20;
}

.bottom {
  padding: 2rem 2rem 2rem 2rem;
  /*  background: rgba(170, 170, 170, 1); */
  background: #043c8c;  /* rgba(1,29,69,1.00); */
  color: white;
}

.navigation-fluid{
  padding: 0 3% 0 3%;
}

.nav-link {
  margin: 0 1rem;
}

.container-fluid{
  padding: 0 10% 2% 10%;
}

#myaboutme {
  position: relative;
}


.aboutme-title {
  font-size: 1.5rem;
}

.aboutme-box {
  padding: 4.5%;
}

.icon {
  color: #043c8c;  /* #77a1d7; */
  margin-bottom: 1rem;
}

.icon:hover {
  color: #0e60a1;
}

.skills {
  padding: 10%;
  text-align: left;
  box-sizing: border-box;
}

.skills-center {
  text-align: center;
}

.skills-left {
  display: inline-block;
  width: 60%;
  box-sizing: border-box;
}

.skills-right {
  float: right;
  text-align: right;
  box-sizing: border-box;
}

.favourites-images{
   padding-left: 0;
   padding-right: 0;
}

.favourites-text{
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 1rem;
}

/*
.favourites-text h2{
  font-size:2vw;
}

.favourites-text h4{
  font-size:1.5vw;
}

*/

.favourites-details {
  text-align: center;
}

.align-middle{
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 3%;
  padding-right: 3%;
}

#favouriteprojects {
  padding-top: 0;
  padding-bottom: 0;
}

#workexperience {
  padding-top: 0;
  padding-bottom: 0;
}

#skills {
  padding-top: 0;
  padding-bottom: 0;
}

#myfavouriteprojects {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

#favourite-projects {
  margin-left: 5%;
  margin-right:5%;
  padding-bottom: 2rem;
}

#myworkexperience {
  padding-top: 0;
  padding-bottom: 0;
}

.fa-star {
  color: #d4af37;
}

#first-row {
  padding: 0;
}

#second-row {
  padding: 0;
}

#third-row {
  padding: 0;
}

#fourth-row {
  padding: 0;
}
