/*
font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
*/

body {
  margin: 0;
  background-image: url("../images/MountainBackground5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size: cover;
  font-family: 'Roboto', serif;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
}


h1 {
  font-size: 4.24rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.62rem;
}

h2 {
  font-size: 2.62rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.62rem;
}

h3 {
  font-size: 1.62rem;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.62rem;
}

.photo {
  margin: 0;
  align-items: center;
  margin: 2rem 0 2rem 0;
  padding-top: 3rem;
}

.roundphoto {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: 5px solid #AAAAAA;
}

.title {
  text-align: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
}


#navigation {
  /* background-color: #1f344a; */
  background: rgba(170, 170, 170, 1);
}

.nav-item a {
  color: #1f344a;
}

.nav-item a:visited {
  color: #1f344a;
}

.navbreak {
  margin: 0;
  padding: 0;
}

.lightblue-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  background: rgba(222,242,241, 0.5);
}

.blue-section {
  margin: 0;
  padding: 2rem 2rem 1rem 2rem;
  background: rgba(119, 161, 215, 0.5);
}


.center {
  margin-left: auto;
  margin-right: auto;
}

.copyright {
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size:  (62% + 1vw + 1vh);
  text-align: center;
  color: #1f344a;
}

.copyright p {
  margin: 0;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  text-align: left;
  color: #1f344a;
}

.linkedin {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  margin-right: 1em;
}

.bottom-container {
  margin-top: 0;
  text-align: left;
  padding: 20;
}

.bottom {
  padding: 2rem 2rem 2rem 2rem;
  background: rgba(170, 170, 170, 1);
}



@media (min-width: 1200px) {

body {
  padding-left: 15%;
  padding-right: 15%;
}

.fixedNavBar {
  padding-left: 15%;
  padding-right: 15%;
}

}

@media (min-width: 900px) and (max-width: 1200px) {

body {
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("../images/MountainBackground6.png");
  background-position: top left;
}

.fixedNavBar {
  padding-left: 10%;
  padding-right: 10%;
}

}


@media (max-width: 900px) {

body {
  padding-left: 0;
  padding-right: 0;
  background-image: none
  background-color: rgba(222,242,241, 1)
}

.fixedNavBar {
  padding-left: 0;
  padding-right: 0;
}

}
